nav{
    background-color:  rgba(72,57,34,1);
    z-index: 2000;
 

}

.menu-col{
    border-left: 20px solid rgba(72,57,34,1);
    border-right: 20px solid rgba(72,57,34,1);
    z-index: 1;
 
  
}
.menu-col ul{
        margin-bottom: 0rem;
        padding-left: 0rem;
}
 .navitem{
    list-style: none;
    display: inline;
    /* background-color: rgba(135, 167, 136,1); */
    background-color:  rgb(61, 94, 62);
    
  
}


.navlink{

    text-decoration: none !important;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    font-family: "Edu VIC WA NT Beginner", cursive;
 
    


}
.active{
    background-color: rgb(111, 150, 116) !important;

   
}
.active.navitem{
    list-style: none;
    display: inline;
    /* background-color: rgba(135, 167, 136,1); */
    background-color:  rgb(61, 94, 62);
    
  
}

@media(max-width: 392px) {

    .menu-col ul li a{
        font-size: 11px;
    }
}