.signup-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.445);
    top: 0;
    left: 0;
}
.signup-col{
    
    background-color: rgb(98, 144, 114);
}

.signup-col i{

    background-color: rgb(139, 184, 136);


} 
.signup-col .buttons :nth-child(1) {

    background-color:rgb(74, 52, 21) ;
}
.signup-col .buttons :nth-child(2){
    background-color: rgb(28, 58, 31);
}